/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
	font-family: HelveticaNeueCyr;
	src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}

/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img, iframe {
	max-width: 100%;
}
body {
	background: rgba(0, 0, 0, 0.5);
}
.content-container {
	max-width: 1280px;
	margin: 0 auto;
}

/* section hero */
.hero {
	background-image: url("../img/bg-hero.jpg");
	background-size: cover;
	padding: 80px 0 178px;
}
.hero-logo-wrapper {
	display: flex;
	align-items: center;
}
.hero-logo-link:not(:last-child) {
	margin-right: 60px;
}
.hero-nav-list {
	margin-top: 70px;
	display: flex;
}
.hero-nav-item {
	list-style: none;
}
.hero-nav-item:not(:last-child) {
	margin-right: 74px;
}
.hero-nav-link {
	font-family: Roboto;
	font-size: 19px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
.hero-nav-link:hover {
	color: #d1d1d1;
}

.hero-title {
	margin-top: 108px;
	width: 664px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 57px;
	line-height: 67px;
	color: #FFFFFF;
}
.hero-button {
	margin-top: 132px;
	width: 465px;
	height: 101px;
	background: #B78A3F;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero-button-link {
	text-decoration: none;
	font-family: Roboto;
	font-size: 32px;
	line-height: 37px;
	color: #FFFFFF;
	padding: 30px 150px;
}
.hero-button-link:hover {
	color: #d1d1d1;
}

/* section facts */
.facts {
	padding-top: 100px;
}
.facts-title {
	font-family: Roboto;
	font-size: 35px;
	line-height: 41px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 28px;
}
.slider-item-wrapper {
	margin: 0 40px;
}
.slider-item-link {
	text-align: center;
	text-decoration: none;
}
.slider-item-title {
	padding: 0 20px;
	margin-top: 30px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 25px;
	line-height: 27px;
	color: #FFFFFF;
}
/* owlCarousel dots */
.owl-theme .owl-dots .owl-dot {
	outline: none;
}
.owl-theme .owl-dots .owl-dot span {
	border: 2px solid #B78A3F;
	width: 20px;
    height: 20px;
	background-color: transparent;
}
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #B78A3F;
}
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #B78A3F;
	opacity: .5;
}
/* owlCarousel nav */
.owl-theme .owl-nav {
	margin-top: 0;
	position: relative;
}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	color: #B78A3F;
	font-size: 60px;
	font-weight: bold;
	outline: none;
}
.owl-carousel .owl-nav button.owl-next {
	bottom: 350px;
	right: -50px;
}
.owl-carousel .owl-nav button.owl-prev {
	bottom: 350px;
	left: -50px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
	background-color: transparent;
	color: #B78A3F;
}

/* section quality */
.quality {
	padding-top: 100px;
}
.quality-title {
	font-family: Roboto;
	font-weight: normal;
	font-size: 35px;
	line-height: 41px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 35px;
}
.quality-map {
	max-width: 100%;
}

.quality-content {
	margin-top: 35px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
	color: #FFFFFF;
}

/* section politics */
.politics {
	padding-top: 100px;
}
.politics-title {
	font-family: Roboto;
	font-weight: normal;
	font-size: 35px;
	line-height: 41px;
	color: #FFFFFF;
	text-align: center;
}
.politics-content {
	margin-top: 42px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
	color: #FFFFFF;
}
.politics-list {
	margin: 27px 0 175px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.politics-item-wrapper {
	margin-bottom: 15px;
	cursor: pointer;
	position: relative;
}

.politics-item-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 27%;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	font-weight: normal;
	font-size: 23px;
	line-height: 30px;
	color: #222222;
	background: rgba(255, 255, 255, 0.83);
}
.politics-item-wrapper:hover .politics-item-title {
	height: 100%;
	margin-top: 0;
}

.politics-item-hover {
	display: none;
	position: absolute;
	left: 85%;
	width: 500px;
	background-color: #DADADA;
	padding: 16px 16px 16px 85px;
	clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 5% 50%);
	z-index: 1;
}

.politics-item-wrapper:nth-child(3n) .politics-item-hover {
	left: initial;
    right: 95%;
	clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
	padding: 16px 85px 16px 16px;
}
.politics-item-wrapper:hover .politics-item-hover {
	display: inline-block;
	
}
.politics-item-content {
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}

/* footer */
.footer {
	position: relative;
	border-top: 1px solid #fff;
}
.footer-logo-wrapper {
	display: flex;
	align-items: center;
}
.footer-logo-link:not(:last-child) {
	margin-right: 120px;
}
.footer-nav-list {
	margin-top: 27px;
}
.footer-nav-item {
	list-style: none;
}
.footer-nav-item:not(:last-child) {
	margin-bottom: 20px;
}
.footer-nav-link {
	font-family: Roboto;
	font-size: 17px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer-nav-link:hover {
	color: #d1d1d1;
}
.footer-authors {
	position: absolute;
	top: 170px;
	right: 88px;
	font-family: Roboto;
	font-size: 17px;
	line-height: 25px;
	color: #FFFFFF;
	width: 366px;
}
.footer-authors span {
	color: #FFFF66;
}
.footer-copyright {
	margin-top: 88px;
}
.footer-copyright-link {
	text-decoration: none;
}
.copyright,
.copyright-agree {
	font-family: HelveticaNeueCyr ;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
}
.copyright-agree {
	margin: 11px 0 14px ;
}