* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* section default */
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-title {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
}
.section-heading {
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.section-line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	border: 0;
}
.section-text {
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

/* section header */
.header-container {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}
.header {
	position: absolute;
	top: 28px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}
.logo {
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
}
.nav-list {
  	display: flex;
  	list-style: none;
  	padding: 12px 0;
}
.nav-item {
  	margin: 0px 25px;
  	position: relative;
  	top: 8px;
}
.nav-item-link {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}
.active,
.nav-item-link:hover {
	color: #fce38a;
}
.nav-item-link:after {
    display: block;
    content: "";
    border-bottom: 3px solid #fce38a;
    height: 12px;
    width: 0%;
    -webkit-transition: all .3s ease-in-out;
    -moz--transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.active {
	padding-bottom: 12px;
	border-bottom: 3px solid #fce38a;
	-webkit-transition: all .3s ease-in-out;
    -moz--transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;	
}
.nav-item-link:hover:after,
.nav-item-link:focus:after {
	width: 100%;
}

@media (max-width: 1000px){
	.nav-item {
		margin: 0px 15px;
  	}
}
@media (max-width: 700px){
	.header{
		flex-direction: column;	
	}
	.nav-item {
		margin: 0px 10px;
	}
}

/* section banner */
.banner {
	position: relative;
	color: #fff;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}
.banner .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
	opacity: 0.9;
}
.slider {
	margin-top: 100px;
	text-align: center;
}
.slider-title {
	font-family: "Kaushan Script";
	font-size: 72px;
	font-weight: 400;
	margin-bottom: 45px;
}
.slider-slogan {
	font-family: Montserrat;
	font-size: 150px;
	font-weight: 700;
	line-height: 140px;
	text-transform: uppercase;
	margin-bottom: 70px;
}
.slider-line {
	margin: 0 auto;
	width: 60px;
	height: 4px;
	background-color: #ffffff;
	margin-bottom: 50px;
	border: 0;
}
.slider-button {
	padding: 12px 35px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border: 3px solid #ffffff;
	text-decoration: none;
}
.slider-button:hover {
	border: 3px solid #fce38a;
	color:  #fce38a;
}
.slider-list-wrapper {
	margin-top: 155px;
	margin-bottom: 27px;
}
.slider-list {
	display: flex;
}
.slider-item {
	width: 280px;
	list-style: none;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	border-top: 3px solid #ffffff;
	padding-top: 25px;
}
.slider-item-number {
	font-size: 24px;
	font-weight: 700;
}
.slider-item:not(:last-child) {
	margin-right: 30px;
}

/* section about-us */
.about-us .section-title {
	margin-top: 91px;
}
.about-us .section-heading {
	margin-top: 23px;
}
.about-us .section-line {
	margin-top: 40px;
}
.about-us .section-text {
	max-width: 954px;
	margin-top: 45px;
	text-align: center;
}
.about-us-story {
	margin-top: 101px;
	display: flex;
}

.img-wrapper{
	position: relative;
}
.img-link {
	display: flex;
}
.img-link-hover {
	display: none;
}
.img-wrapper:hover .img-link-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
	cursor: pointer;
	text-align: center;
	display: flex;
    align-items: center;
	justify-content: center;
	border: 1px solid #95e1d3;
}
.hover-description {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;	
}
.img-wrapper:not(:last-child){
	margin-right: 30px;
}
.facts {
	margin-top: 110px;
	background-color: #95e1d3;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.facts-item {
	padding: 90px 45px;
	text-align: center;
	align-items: center;
}
.facts-item:not(:last-child) {
	border-right: 1px solid rgba(255,255,255,0.3);
}
.facts-quantity {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px ;
}
.facts-description {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

@media (max-width: 700px){
	.about-us-story {
		flex-direction: column;	
	}
	.img-wrapper:not(:last-child){
		margin: 0 0 30px 0;
	}
}

/* section service */
.service .section-title {
	margin-top: 109px;
}
.service .section-heading {
	margin-top: 22px;
}
.service .section-line {
	margin-top: 42px;
}
.service-wrapper {
	margin: 66px 0 122px;
}
.service-line {
	margin: 50px 0;
	width: 1200px;
	height: 1px;
	background-color: #e5e5e5;
	border: 0;
}
.service-line-one, .service-line-two {
	display: flex;
}
.service-item {
	width: 333px;
}
.service-item:not(:nth-child(3n)) {
	margin-right: 80px;
}
.service-item:nth-child(3)::after {
	display:block;  
	position: absolute;
	bottom: 0; 
	left: 0;
	width: 100%;
	height: 1px;
	content: "";
	min-height: 1px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.service-img {
	float: left;
}
.service-description {
	margin-left: 60px;
}
.service-title {
	color: #333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.service-text {
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

/* section feauture */
.feauture {
	position: relative;
}
.feauture .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.85);
}
.feauture .section-title {
	margin-top: 109px;
}
.feauture .section-heading {
	margin-top: 22px;
}
.feauture .section-line {
	margin-top: 38px;
}
.feauture-wrapper {
	margin-top: 45px;
	position: relative;
}
.feauture-img-display {
	position: relative;
	bottom: -4px;
	height: auto;
	width: 100%;
}
.feauture-img-white{
	position: absolute;
	bottom: -90px;
	right: -160px;
}

/* section servise2 */
.service2 .section-title {
	margin-top: 112px;
}
.service2 .section-heading {
	margin-top: 23px;
}
.service2 .section-line {
	margin-top: 42px;
}
.service2-text {
	margin: 46px 0 92px;
	max-width: 954px;
	text-align: center;
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;	
}
.service2-content-wrapper {
	display: flex;
	align-items: flex-start;
	max-width: 1200px;
	margin-bottom: 120px;
}
.service2-img {
	margin-right: 30px;
	height: auto;
	width: 100%;
	max-width: 570px;
}

/* section service2 accordion */
.accordion {
	list-style: none;
}
.accordion-item {
	margin-bottom: 10px;
	position: relative;
}
.accordion-trigger {
  	display: flex;
  	align-items: center;
  	cursor: pointer;
  	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
  	border: 1px solid #e5e5e5;
  	max-width: 600px;
}
.accordion-item-icon {
	margin: 15px;
}
.accordion-item-content {
	color: #999999;
	font-family: Roboto;
	font-style: italic;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
	overflow: auto;
	padding-right: 20px;
	height: 145px;
}

.accordion-item-content::-webkit-scrollbar { width: 5px; -height: 90px; margin: 0 }
.accordion-item-content::-webkit-scrollbar-button { display: none;}
.accordion-item-content::-webkit-scrollbar-track-piece { background-color: #f5f5f5;}
.accordion-item-content::-webkit-scrollbar-thumb { -height: 90px; background-color: #95e1d3; border-radius: 3px;}

.accordion-checkbox-arrow {
	position: absolute;
	top: 24px;
	right: 20px;
	-webkit-transition: all .3s ease-in-out;
    -moz--transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.accordion-toggle:checked ~ .accordion-trigger {
  	background-color: #f8f8f8;
}
.accordion-toggle:checked ~ .accordion-checkbox-arrow {
    transform: rotate(180deg);
    -webkit-transition: all .3s ease-in-out;
    -moz--transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
 }
.accordion-target {
   	padding: 20px;
   	display: none;
   	border: 1px solid #e5e5e5;
   	margin-top: -1px;
}
.accordion-toggle:checked ~ .accordion-target {
  	display: block;
}

/* section quote */
.quote {
	background-color: #f8f8f8;
}
.carousel {
    position: relative;
    max-width: 1200px;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    position: absolute;
    opacity: 0;
    display: block;
    height: 290px;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.carousel-item-wrapper  {
	margin: 0 70px;
	padding: 60px 70px;
	display: flex;
	align-items: flex-start;
}
.carousel-item-img {
	border: 3px solid #95e1d3;
	padding: 44px;
}
.carousel-blockquote {
	margin-left: 60px;
	width: 767px;
}
.carousel-item-content {
	color: #999999;
	font-family: Roboto;
	font-style: italic;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 20px;
}
.carousel-item-author {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
}
.carousel-item-author:before {
	display: inline-block;
    content: "";
    border-top: 3px solid #f38181;
    width: 60px;
    margin-right: 10px;
    transform: translateY(-5px);
	
}

/* quota carousel control */
.carousel-control {
	position: absolute;
    top: 50%;
    cursor: pointer;  
    color: #cccccc;
    display: none;
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 30px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 10;
}
.carousel-control.prev {
    left: 3%;
}
.carousel-control.next {
    right: 3%;
}
.carousel-control:hover {
    color: #333;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

/* section our-team */
.our-team {
	margin-top: 100px;
}
.our-team .section-heading{
	margin-top: 23px;
}
.our-team .section-line {
	margin-top: 42px;
}
.our-team .section-text {
	margin-top: 46px;
	max-width: 955px;
	text-align: center;
}
.our-team-members-wrapper {
	margin-top: 92px;	
}
.our-team-members {
	display: flex;
	margin-bottom: 117px;
}
.member-of-team {
	text-align: center;
	text-decoration: none;
}
.person-img-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.person-social-net {
	position: absolute;
	font-size: 0;
}
.person-img {
	max-width: 380px;
}
.member-of-team:not(:last-child){
	margin-right: 30px;
}
.member-of-team-title {
	margin-top: 30px;
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.member-of-team-specialty {
	margin-top: 15px;
	color: #999999;
	font-family: Roboto;
	font-style: italic;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}
/* person img hover */
.member-of-team:hover .person-img-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 470px;
	background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
	border: 1px solid #95e1d3;
}
.member-of-team:hover .person-social-link {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-color: #fce38a;
	color: #f38181;
	font-size: 30px;
	line-height: 60px;
	border: 1px solid #f38181;
}
.member-of-team:hover .person-social-link:hover {
	color: #ffffff;
	background-color: #f38181;
	border: 1px solid #95e1d3;
}

.logos {
	background-color: #f8f8f8;
	padding: 50px 0;
}

/* section work */
.work .section-title {
	margin-top: 110px;
}
.work .section-heading {
	margin-top: 23px;
}
.work .section-line {
	margin-top: 42px;
}
.work .section-text {
	margin-top: 45px;
	max-width: 955px;
	text-align: center;
}

.work-samples {
	margin-top: 100px;
	column-count: 4; /* Определяет количество колонок в многоколоночном тексте.*/
  	column-gap: 0; /* Задаёт расстояние между колонками в многоколоночном тексте.*/
 }
.work-samples-column {
	font-size: 0;
 	break-inside: avoid; /* Запрещает разрыв страницы внутри элемента.*/
 	display: flex;
 	flex-direction: column;
}
.work-img {
	height: auto;
	width: 100%;
	max-width: 475px;
}
.work-img-link {
	font-size: 0;
	position: relative;
}
.work-img-hover {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.work-img-link:hover .work-img-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.work-hover-title {
	margin-top: 18px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
.work-hover-content {
	margin-top: 10px;
	color: #ffffff;
	font-family: Roboto;
	font-style: italic;
	font-size: 15px;
	font-weight: 200;

}
.work-img-hover {
	display: none;
}

/* section testimonial */
.testimonial {
	margin: 100px 0 130px;
}
.testimonial-carousel {
    position: relative;
    max-width: 1200px;
}
.testimonial-carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.testimonial-carousel-open:checked + .testimonial-carousel-item {
    position: static;
    opacity: 100;
}
.testimonial-carousel-item {
    position: absolute;
    opacity: 0;
    display: block;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.testimonial-item-wrapper  {
	margin: 0 70px;
	padding: 0 70px;
	display: flex;
	align-items: center;
}
.testimonial-blockquote {
	margin-left: 60px;
	width: 767px;
}
.testimonial-item-content {
	color: #999999;
	font-family: Roboto;
	font-style: italic;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 20px;
}
.testimonial-item-author {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
}
.testimonial-item-author:before {
	display: inline-block;
    content: "";
    border-top: 3px solid #f38181;
    width: 60px;
    margin-right: 10px;
    transform: translateY(-5px);
	
}

/* testimonial carusel control */
.testimonial-control {
	position: absolute;
    top: 50%;
    cursor: pointer;  
    color: #cccccc;
    display: none;
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 30px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 10;
}
.testimonial-control.prev {
    left: 3%;
}
.testimonial-control.next {
    right: 3%;
}
.testimonial-control:hover {
    color: #333;
}
#testimonial-1:checked ~ .testimonial-control-1,
#testimonial-2:checked ~ .testimonial-control-2,
#testimonial-3:checked ~ .testimonial-control-3 {
    display: block;
}



/* section happy-clients */
.happy-clients {
	position: relative;
}
.happy-clients .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.85);
}
.happy-clients .section-title {
	margin-top: 110px;
}
.happy-clients .section-heading {
	margin-top: 16px;
}
.happy-clients .section-line {
	margin-top: 42px;
}
.happy-clients-wrapper {
	margin-top: 90px;
	max-width: 1110px;
	display: flex;
	flex-wrap: wrap;
}
.happy-client-item {
	max-width: 515px;
	margin-bottom: 70px;
	display: flex;
	-justify-content: flex-start;
	align-items: flex-start;
}
.happy-client-item:nth-child(2n+1) {
	margin-right: 80px;
}
.happy-client-content {
	margin-left: 30px;
}
.happy-client-title {
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
}
.happy-client-specialty {
	color: #333333;
	font-family: Roboto;
	font-style: italic;
	font-size: 15px;
	font-weight: 200;
	line-height: 24px;
	margin-top: 15px;
}
.happy-client-line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	border: 0;
	margin-top: 17px;
}
.happy-client-description {
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 24px;
}

/* section blog */
.blog .section-title {
	margin-top: 110px;
}
.blog .section-heading {
	margin-top: 22px;
}
.blog .section-line {
	margin-top: 42px;
}
.blog-wrapper {
	margin-top: 50px;
}